.articles {
  flex: 1 1 auto;
}

.articles__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 140px;
}

.article-preview__link {
    display: flex;
    gap: 30px;
    outline-offset: 3px;
    border-radius: 20px;
}

.article-preview__link:focus-visible{
    outline: 3px solid var( --accent-blue, #3670c7);
  }

.article-preview__image-block {
  width: 195px;
  height: 195px;
  min-width: 195px;
  min-height: 195px;
  font-size: 0;
  line-height: 0;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.article-preview__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform .3s ease;
}

.article-preview__link:hover .article-preview__image-block .article-preview__image {
  transform: scale(1.07);
}

.article-preview__info-block {
  display: flex;
  flex-direction: column;
  padding: 13px 0 0 0;
  font-weight: 700;
}

.article-preview__extra {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-preview__title {
  margin: 0 0 13px 0;
  font-size: 32px;
  line-height: 130%;
  color: var(--text-black, #2d2d2d);
  transition: color .2s ease;
}

.article-preview__link:hover .article-preview__title,
.article-preview__link:focus-visible .article-preview__title {
    color: var(--accent-blue, #3670c7);
}

.article-preview__date {
  flex: 1 1 auto;
  color: var(--text-grey, #8f8f8f);
}

.article-preview__details {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--text-grey, #8f8f8f);
}

.article-preview__details-block {
  display: flex;
  align-items: center;
}

.article-preview__details-block:not(:last-child) {
    margin: 0 25px 0 0;
}

.article-preview__details-icon_views {
  height: 24px;
  margin: 0 4px 0 0;
}

.article-preview__details-icon_comments {
    height: 24px;
    margin: 0 9px 0 0;
}

@media (max-width: 1500px) {
  .articles__list {
    gap: 30px 90px;
  }

  .article-preview__link {
    gap: 20px;
  }

  .article-preview__image-block {
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
  }

  .article-preview__info-block {
    padding: 6px 0 0 0;
  }

  .article-preview__title {
    margin: 0 0 12px 0;
    font-size: 28px;
  }

  .article-preview__date {
    font-size: 15px;
  }

  .article-preview__details {
    font-size: 15px;
  }
  
  .article-preview__details-block:not(:last-child) {
      margin: 0 20px 0 0;
  }
  
  .article-preview__details-icon_views {
    height: 20px;
    margin: 0 4px 0 0;
  }
  
  .article-preview__details-icon_comments {
      height: 20px;
      margin: 0 9px 0 0;
  }
}

@media (max-width: 1260px) {
  .articles__list {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .articles__article-preview:not(:last-child){
    padding: 0 0 24px 0;
    border-bottom: 1px solid var(--text-grey, #8f8f8f);
  }

  .article-preview__link {
    gap: 30px;
  }

  .article-preview__info-block {
    padding: 6px 0 0 0;
  }
  
  .article-preview__title {
    margin: 0 0 13px 0;
    font-size: 32px;
  }

  .article-preview__date {
    font-size: 16px;
  }

  .article-preview__details {
    font-size: 16px;
  }
  
  .article-preview__details-block:not(:last-child) {
    margin: 0 25px 0 0;
  }

  .article-preview__details-icon_views {
    height: 24px;
    margin: 0 4px 0 0;
  }

  .article-preview__details-icon_comments {
    height: 24px;
    margin: 0 9px 0 0;
  }
}

@media (max-width: 900px) {
  .article-preview__link {
    gap: 20px;
  }
  
  .article-preview__title {
    margin: 0 0 12px 0;
    font-size: 28px;
  }

  .article-preview__date {
    font-size: 15px;
  }

  .article-preview__details {
    font-size: 15px;
  }
  
  .article-preview__details-block:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .article-preview__details-icon_views {
    height: 20px;
    margin: 0 4px 0 0;
  }

  .article-preview__details-icon_comments {
    height: 20px;
    margin: 0 9px 0 0;
  }
}

@media (max-width: 800px) {
  .article-preview__extra {
    align-items: flex-end;
    flex-direction: row;
  }

  .article-preview__date {
    margin: 0;
  }
}

@media (max-width: 720px) {
    .article-preview__title {
      margin: 0 0 10px 0;
      font-size: 22px;
    }
}

@media (max-width: 560px) {
  .articles__list {
    gap: 20px;
  }

  .articles__article-preview:not(:last-child){
    padding: 0 0 19px 0;
  }

  .article-preview__image-block {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
  }

  .article-preview__title {
    margin: 0 0 7px 0;
    font-size: 18px;
  }

  .article-preview__date {
    font-size: 13px;
  }

  .article-preview__details {
    font-size: 13px;
  }
  
  .article-preview__details-block:not(:last-child) {
    margin: 0 10px 0 0;
  }

  .article-preview__details-icon_views {
    height: 15px;
    margin: 0;
  }

  .article-preview__details-icon_comments {
    height: 15px;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .article-preview__link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    outline-offset: 3px;
    border-radius: 20px;
  }

  .article-preview__image-block {
    width: auto;
    height: 195px;
    min-width: auto;
    min-height: 195px;
  }

  .article-preview__title {
    margin: 0 0 12px 0;
    font-size: 18px;
  }
}